body {
    margin: 24px;
}

aside {
    margin: 25vh auto;
    max-width: 320px;

    line-height: 1.6em;
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* for anti-aliasing */
    outline: 1px solid transparent;
    -webkit-backface-visibility: hidden;
}

span, a {
    color: royalblue;
    background: white;
    /* color: white; */

    display: inline-block;
    margin: 0 -8px;
    padding: 0 8px;
    text-decoration: none;
    word-break: break-all;
}
#ya {

    transform: scale(1);
    transition: transform 10s ease;

}
#ya.big {
    transform: scale(20) rotate(-78deg) translate(40px, 120px);
    transition: transform 90s ease;
}
